{%- assign block_count = section.blocks.size -%}

{% if block_count > 0 %}
  {%- assign column_count = 12 | divided_by: block_count -%}
{% endif %}

<footer
  class="main-footer footer"
  data-js-class="Footer"
  data-section-id="{{ section.id }}"
  data-section-type="footer"
>
  <div class="row bottom">

    {% for block in section.blocks limit: block_count %}
      <div class="columns {{ block.type }}">

        {% case block.type %}
          {% when 'about' %}

            {% if block.settings.about-title != '' %}
            <h2 class="title">{{ block.settings.about-title | escape }}</h2>
            {% endif %}
            <div class="content">
              {% if block.settings.text != blank %}
                <div class="text">{{ block.settings.text }}</div>
              {% endif %}

              {% unless shop.enabled_payment_types == empty %}
                {% if block.settings.footer-payment-options-show %}
                  {% include 'framework--payment-icons' %}
                {% endif %}
              {% endunless %}

            </div>
          {% when 'menu' %}

            {% if block.settings.menu-title != '' %}
            <h2 class="title">{{ block.settings.menu-title | escape }}</h2>
            {% endif %}

            <div class="content">
              {% if linklists[block.settings.menu].links.size > 0 %}
                {% assign footer_nav = block.settings.menu %}

                <ul class="footer-nav plain-list" role="navigation" aria-label="Secondary">
                  {% for link in linklists[footer_nav].links %}
                    <li>
                      <a href="{{ link.url }}" title="{{ link.title }}">
                        {{ link.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>

          {% when 'subscribe' %}

            {% assign show_social = false %}
            {% if settings.footer-facebook-follow-url.size > 0 or
                  settings.footer-twitter-follow-url.size > 0  or
                  settings.footer-instagram-follow-url.size > 0 or
                  settings.footer-pinterest-follow-url.size > 0 or
                  settings.footer-tumblr-follow-url.size > 0 or
                  settings.footer-vimeo-follow-url.size > 0 or
                  settings.footer-youtube-follow-url.size > 0 or
                  settings.footer-google-plus-follow-url.size > 0 %}
              {% assign show_social = true %}
            {% endif %}

            {% if block.settings.subscribe--show-social-icons == false %}
              {% assign show_social = false %}
            {% endif %}

            <div class="content">
              {% if block.settings.subscribe--show-newsletter %}
                {% comment %} Klaviyo newsletter form {% endcomment %}
                <form id="email_signup" class="klaviyo_gdpr_embed_MDGmYm contact-form" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
                  <input type="hidden" name="g" value="MDGmYm">
                  <input type="hidden" name="$fields" value="$consent">
                  <input type="hidden" name="$list_fields" value="$consent">
                  <div class="klaviyo_field_group">
                    <h2 class="title">{{ 'layout.footer.newsletter_title' | t }}</h2>
                    <label for="k_id_email" class="klaviyo_form_actions">{{ 'layout.footer.newsletter_subtitle' | t }}</label>
                    <input class="small" type="email" value="" name="email" id="k_id_email" placeholder="{{ 'layout.footer.newsletter_placeholder' | t }}"/>
                    <button type="submit" class="button prefix klaviyo_form_actions">{{ 'layout.footer.newsletter_button' | t }}</button>
                    <div class="klaviyo_messages">
                      <div class="success_message" style="display:none;"></div>
                      <div class="error_message" style="display:none;"></div>
                    </div>
                  </div>
                </form>
                <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
                <script type="text/javascript">
                  KlaviyoSubscribe.attachToForms('#email_signup', {
                    hide_form_on_success: true,
                    extra_properties: {
                      $source: '$embed',
                      $method_type: "Klaviyo Form",
                      $method_id: 'embed'
                    }
                  });
                </script>
              {% endif %}

              {% if show_social %}
                <div class="social-follow">
                  {% include 'snippet-social-follow' %}
                </div>
              {% endif %}
            </div> <!-- .content -->

        {% endcase %}

      </div> <!-- .columns -->
    {% endfor %}
  </div> <!-- .row.bottom -->

  {% if section.blocks.size == 0 %}
    {% include 'snippet-no-blocks' %}
  {% endif %}

</footer>

{% schema %}
{
  "name": "Footer",
  "class": "section--footer",
  "max_blocks": 5,
  "blocks": [
    {
      "type": "about",
      "name": "About store",
      "settings": [
        {
          "type": "text",
          "id": "about-title",
          "label": "Title",
          "default": "Store"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "© Your brand name here"
        },
        {
          "type": "checkbox",
          "id": "footer-payment-options-show",
          "label": "Enable payment logos",
          "default": true
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "menu-title",
          "label": "Title",
          "default": "Info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "footer",
          "info": "This menu won't show submenu items."
        }
      ]
    },
    {
      "type": "subscribe",
      "name": "Subscribe",
      "settings": [
        {
          "type": "checkbox",
          "id": "subscribe--show-newsletter",
          "label": "Show newsletter",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "subscribe--show-social-icons",
          "label": "Show social icons",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}